body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;
  background-image: url('https://img.pikbest.com/backgrounds/20191104/color-welfare-lottery-background_1905862.jpg!sw800');
  background-size: cover;
  background-position: center; 
}


.number-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
  padding: 10px;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  background-color: rgba(249, 249, 249, 0.8); 
  margin-left: auto;
  margin-right: auto;
}


.number-row {
  display: flex;
  justify-content: center;
}

.number-row button {
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: #3b97aa;
  background-position: center;
  color: rgb(8, 8, 8);
  border: none;
  border-radius: 5px;
  width: 100%;
  transition: background-color 0.3s;
}

.number-row button:hover {
  background-color: #8f9510;
}